
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, hsla(148, 100%, 47%, 1) 20%, hsla(211, 90%, 47%, 1) 100%);
}
.container  {
  padding: 40px 50px;
  border-radius: 15px;
  background: #fff;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.heading{
padding-bottom: 15px;
}
.container h3{
    padding-bottom: 10px;
}
.container p{
    font-size: 18px;
    padding-bottom: 5px;
}
.container .input-field {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px 0;
}
.input-field input,
.input-field button {
  height: 50px;
  width: calc(50% - 20px);
  outline: none;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 18px;
}
.input-field input {
  text-align: center;
  width: 110px;
  border: 1px solid #aaa;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
.input-field input:disabled {
  cursor: not-allowed;
}
.input-field button {
  border: none;
  background: #3ba9fd;
  color: #fff;
  cursor: pointer;
  width: 110px;
}
.input-field button:active {
  transform: scale(0.97);
}

